.menu {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  .menu-search {
    display: flex;
    padding: 42px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background: #F9F9F9;
    margin-bottom: 40px;
  }

  .category-buttons {
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    border-radius: 200px;
    border: 1px solid rgba(214, 214, 214, 0.90);
    background: #FEFEFE;

    button {
      display: flex;
      width: 214px;
      padding: 16px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      border-radius: 200px;
      background: #EDEDED;
      border: none;
      color: #363333;
      font-size: 16px;
      font-weight: 500;
      line-height: 148%;

      &:hover {
        background-color: #ECFDF3;
        color: #039855;
      }

      &:active,
      &:focus {
        background-color: #ECFDF3;
        color: #039855;
      }
    }
  }

  .flex-4 {
    max-width: 1200px;
    margin: 10px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
    gap: 32px;
    overflow: hidden;
  }
}