.success {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    margin: 50px auto;

    .success-box {
        display: inline-flex;
        padding: 60px;
        width: 495px;
        height: 400px;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        text-align: center;
        background: #F9F9F9;

        h1 {
            color: #514D4D;
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: -1.28px;
        }

        h3 {
            color: #514D4D;
            font-size: 24px;
            font-weight: 600;
            line-height: 125%;
            letter-spacing: -0.96px;
            margin-top: -15px;

            span {
                color: #109628;
            }
        }

        p {
            color: #514D4D;
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: -0.8px;
            margin-top: -15px;
        }

        button {
            display: flex;
            margin-top: 15px;
            padding: 18px 48px;
            justify-content: center;
            align-items: center;
            gap: 24px;
            border-radius: 100px;
            background: #EFEEEE;
            border: none;
            color: #514D4D;
            font-size: 20px;
            font-weight: 500;
            line-height: 125%;
            letter-spacing: -0.8px;
        }
    }
}